<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pavlin_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,139}}</string>
                <key>sourceSize</key>
                <string>{165,141}</string>
            </dict>
            <key>pavlin_eat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,141}}</string>
                <key>sourceSize</key>
                <string>{165,141}</string>
            </dict>
            <key>pavlin_eat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{161,139}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{161,139}}</string>
                <key>sourceSize</key>
                <string>{165,141}</string>
            </dict>
            <key>pavlin_eat_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,143},{157,135}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{157,135}}</string>
                <key>sourceSize</key>
                <string>{165,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level_1/01_1/pavlin_eat.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f706c5781e35d81b314f783cec5d809$</string>
            <key>textureFileName</key>
            <string>Level_1/01_1/pavlin_eat.png</string>
        </dict>
    </dict>
</plist>
