<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{65,198}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{65,198}}</string>
                <key>sourceSize</key>
                <string>{79,198}</string>
            </dict>
            <key>water_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,58},{79,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,196}}</string>
                <key>sourceSize</key>
                <string>{79,198}</string>
            </dict>
            <key>water_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,62},{77,192}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{77,192}}</string>
                <key>sourceSize</key>
                <string>{79,198}</string>
            </dict>
            <key>water_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,64},{75,190}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{75,190}}</string>
                <key>sourceSize</key>
                <string>{79,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level_1/01_1/water_left.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:969c2fad17595a5e6764020104040c90$</string>
            <key>textureFileName</key>
            <string>Level_1/01_1/water_left.png</string>
        </dict>
    </dict>
</plist>
